ENVIRONMENT=

# Auth
FIREBASE_APP_NAME=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

APP_DOMAIN=

CORS_ORIGINS=

# Database
MONGODB_URI=
MONGODB_DB_NAME=

MONGODB_MAX_POOL_SIZE=
MONGODB_MIN_POOL_SIZE=
MONGODB_SERVER_SELECTION_TIMEOUT_MS=
MONGODB_CONNECT_TIMEOUT_MS=
MONGODB_SOCKET_TIMEOUT_MS=
MONGODB_AUTO_CREATE_INDEXES=